# -*- mode: yaml; -*-

BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
MaxEmptyLinesToKeep: 1
IndentCaseLabels: true
AlwaysBreakAfterReturnType: TopLevel
SortIncludes: true
IncludeBlocks: Regroup
IndentPPDirectives: BeforeHash
IndentExternBlock: AfterExternBlock
PointerAlignment: Right
DerivePointerAlignment: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
Cpp11BracedListStyle: true
AllowShortLambdasOnASingleLine: Inline
LambdaBodyIndentation: OuterScope
SpacesInAngles: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
AccessModifierOffset: -4
IndentAccessModifiers: false
BreakBeforeBinaryOperators: true
AlignOperands: true
ColumnLimit: 80
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
SpacesInContainerLiterals: true
